# Ignore Terraform state files
*.tfstate
*.tfstate.backup


# Ignore Terraform cache directory
.terraform/

# Ignore Python cache
__pycache__/

# Ignore zip files
*.zip

# Node modules
node_modules/

# Build files
build/

dist/
.env